* {
	font-family: Roboto, Arial, Verdana;
}

body {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin: 0;
	height: 100vh;
}

.header,
#one,
.footer {
	background-color: #1F2937;
}

.header,
ul,
.footer {
	display: flex;
}

.header,
.footer {
	height: 50px;
	color: #F9FAF8;
}

.header {
	justify-content: space-between;
	font-size: 24px;
	align-items: center;
}

.container {
	display: flex;
	justify-content: center;
	flex-flow: column;
	flex: 1;
}

.row {
	flex: 1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

/* Hero secondary and header link color and size */
ul,
#one p {
	color: #E5E7EB;
	font-size: 18px;
}

h1 {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: 900;
}

#two {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	gap: 16px;
}

h2 {
	display: flex;
	flex: 1 0 100%;	
	margin: 0 auto;
	justify-content: center;
	font-size: 36px;
	color: #1F2937;
	font-weight: 900;
}

.card {
	display: flex;
	border: 1px solid blue;
	border-radius: 5px;
	flex-flow: column wrap;
}

.box {
	flex: 0 1 0;
	justify-content: space-around;
}


#three {
	background: #E5E7EB;
	color: #1F2937;
	font-size: 36px;
	font-weight: 300;
}

#four div.action,
#four button.signup {
	background: #3882F6;
	color: #F9FAF8;
	border: 1px solid #F9FAF8;
	border-radius: 5px;
}
	

.footer {
	justify-content: center;
	align-items: center;
}

div.header img,
div.header ul,
div.row h1,
div.row p,
div.row button,
div.row img,
div.row h2,
div.row h3 { /* Temporary fix for content margin. There has to be a better way to do this. */
	margin-left: 120px;
	margin-right: 120px;
}
