* {
	font-family: Roboto, Arial, Verdana;
}

body {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	margin: 0;
	height: 100vh;
}

.header,
#one,
.footer {
	background-color: #1F2937;
}

.header,
ul,
.footer {
	display: flex;
}

.header,
.footer {
	height: 50px;
	color: #F9FAF8;
}

.header {
	justify-content: space-between;
	font-size: 24px;
}

.container {
	display: flex;
	justify-content: center;
	flex-flow: column;
	flex: 1;
}

.row {
	flex: 1;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #E5E7EB;
}

.footer {
	justify-content: center;
	align-items: center;
}

div.header img,
div.header ul,
div.row h1,
div.row p,
div.row button,
div.row img,
div.row h2,
div.row h3 { /* Temporary fix for content margin. There has to be a better way to do this. */
	margin-left: 120px;
	margin-right: 120px;
}
