* {
	font-family: Roboto, Arial, Verdana;
}
html,body {
	height: 100vh;
body {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.header,
#one,
.footer {
	background-color: #1F2937;
}

.header,
ul,
.footer {
	display: flex;
}

.header {
	justify-content: space-between;
	color: #F9FAF8;
	font-size: 24px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #E5E7EB;
}
